<launch>
<!-- Convert xacro model file and put on parameter server -->
<param name="robot_description" command="$(find xacro)/xacro.py '$(find mobot_urdf)/urdf/mobot_w_arm.xacro'" />

<!-- Spawn the robot from parameter server into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mobot" />

<!-- load the controller parameter yaml file and start the ROS controllers for the arm-->
<include file="$(find minimal_robot_description)/minimal_robot_ctl.launch">
</include>

</launch>
