<?xml version="1.0" ?>
<!-- Object2: example checker box -->
<model:physical name="checker_model">
<xyz> 0.0 0.0 2.0 </xyz>
<rpy> 0.0 0.0 0.0</rpy>
<static>true</static>
<body:box name="checker_body">
<geom:box name="checker_11_geom">
<xyz>0.0 0.0 0.0</xyz>
<size>0.01 0.01 0.01</size>
<laserRetro>3000</laserRetro>
<kp>1000000.0</kp>
<kd>1.0</kd>
<mesh>default</mesh>
<mass> 0.01</mass>
<visual>
<size> 0.01 0.01 0.01</size>
<material>Gazebo/White</material>
<mesh>unit_box</mesh>
</visual>
</geom:box>
<geom:box name="checker_12_geom">
<xyz>0.0 0.01 0.0</xyz>
<size>0.01 0.01 0.01</size>
<laserRetro>1000</laserRetro>
<kp>1000000.0</kp>
<kd>1.0</kd>
<mesh>default</mesh>
<mass> 0.01</mass>
<visual>
<size> 0.01 0.01 0.01</size>
<material>Gazebo/Black</material>
<mesh>unit_box</mesh>
</visual>
</geom:box>
<geom:box name="checker_13_geom">
<xyz>0.0 0.02 0.0</xyz>
<size>0.01 0.01 0.01</size>
<laserRetro>3000</laserRetro>
<kp>1000000.0</kp>
<kd>1.0</kd>
<mesh>default</mesh>
<mass> 0.01</mass>
<visual>
<size> 0.01 0.01 0.01</size>
<material>Gazebo/White</material>
<mesh>unit_box</mesh>
</visual>
</geom:box>
<geom:box name="checker_21_geom">
<xyz>0.0 0.0 0.01</xyz>
<size>0.01 0.01 0.01</size>
<laserRetro>1000</laserRetro>
<kp>1000000.0</kp>
<kd>1.0</kd>
<mesh>default</mesh>
<mass> 0.01</mass>
<visual>
<size> 0.01 0.01 0.01</size>
<material>Gazebo/Black</material>
<mesh>unit_box</mesh>
</visual>
</geom:box>
<geom:box name="checker_22_geom">
<xyz>0.0 0.01 0.01</xyz>
<size>0.01 0.01 0.01</size>
<laserRetro>3000</laserRetro>
<kp>1000000.0</kp>
<kd>1.0</kd>
<mesh>default</mesh>
<mass> 0.01</mass>
<visual>
<size> 0.01 0.01 0.01</size>
<material>Gazebo/White</material>
<mesh>unit_box</mesh>
</visual>
</geom:box>
<geom:box name="checker_23_geom">
<xyz>0.0 0.02 0.01</xyz>
<size>0.01 0.01 0.01</size>
<laserRetro>1000</laserRetro>
<kp>1000000.0</kp>
<kd>1.0</kd>
<mesh>default</mesh>
<mass> 0.01</mass>
<visual>
<size> 0.01 0.01 0.01</size>
<material>Gazebo/Black</material>
<mesh>unit_box</mesh>
</visual>
</geom:box>
<geom:box name="checker_31_geom">
<xyz>0.0 0.0 0.02</xyz>
<size>0.01 0.01 0.01</size>
<laserRetro>3000</laserRetro>
<kp>1000000.0</kp>
<kd>1.0</kd>
<mesh>default</mesh>
<mass> 0.01</mass>
<visual>
<size> 0.01 0.01 0.01</size>
<material>Gazebo/White</material>
<mesh>unit_box</mesh>
</visual>
</geom:box>
<geom:box name="checker_32_geom">
<xyz>0.0 0.01 0.02</xyz>
<size>0.01 0.01 0.01</size>
<laserRetro>1000</laserRetro>
<kp>1000000.0</kp>
<kd>1.0</kd>
<mesh>default</mesh>
<mass> 0.01</mass>
<visual>
<size> 0.01 0.01 0.01</size>
<material>Gazebo/Black</material>
<mesh>unit_box</mesh>
</visual>
</geom:box>
<geom:box name="checker_33_geom">
<xyz>0.0 0.02 0.02</xyz>
<size>0.01 0.01 0.01</size>
<laserRetro>3000</laserRetro>
<kp>1000000.0</kp>
<kd>1.0</kd>
<mesh>default</mesh>
<mass> 0.01</mass>
<visual>
<size> 0.01 0.01 0.01</size>
<material>Gazebo/White</material>
<mesh>unit_box</mesh>
</visual>
</geom:box>
</body:box>
</model:physical>
