<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sticky_disc">

	<link name= "vvg">
		<origin rpy="0 0 0 " xyz="0 0 0"/>
		<visual>
			<geometry>
				<cylinder length="0.02" radius="0.04"/>
				<!--box size= "0.2 0.2 0.4"/-->
			</geometry>
			<material name="blue">
				<color rgba="0 0 .8 1"/>
			</material>
		</visual>
		<collision name="vvg_collision">
			<geometry>
				<!--box size= "0.2 0.4 0.4"/-->
              			<cylinder length="0.02" radius="0.04"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="0.01"/>
			<inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
  		</inertial>
	</link>  
  
	<gazebo reference="vvg">
		<sensor name="virtual_vacuum_gripper_sticky" type="contact">
			<plugin name="virtual_vacuum_gripper_finger" filename="libsticky_fingers.so">
				<capacity>10</capacity>
			</plugin>
			<contact>
				<collision>vvg_collision</collision>
			</contact>
		</sensor>
	</gazebo>
</robot>
