<?xml version="1.0" ?>
<robot name="baxter" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="baxter_ros_control" filename="libbaxter_gazebo_ros_control.so">
      <robotNamespace>/robot</robotNamespace>
    </plugin>
  </gazebo>
  <!-- Gazebo-Specific Link Properties -->
  <gazebo reference="torso">
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="head_pan">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_s0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_s1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_e0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_e1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_w0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_w1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_w2">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_s0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_s1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_e0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_e1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_w0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_w1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="left_w2">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>


  <!-- Transmissions -->
  <!-- Right Arm -->
  <transmission name="right_tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_s0">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_s1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_e0">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_e1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_w0">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_w1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_w2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_motor7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Left Arm -->
  <transmission name="left_tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_s0">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_s1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_e0">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_e1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_w0">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_w1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_w2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_motor7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <!-- Head -->
  <transmission name="head1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="head_pan">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="head_motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
</robot>
