<?xml version="1.0"?>
<robot 
     xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobot">
  <xacro:include filename="$(find mobot_urdf)/urdf/mobot_w_lidar.xacro" />    
  <xacro:include filename="$(find mobot_urdf)/urdf/example_camera.xacro" />  
  <!-- attach the camera to the mobile robot -->
  <joint name="camera_joint" type="fixed">
    <parent link="base_link" />
    <child link="camera_link" />  
    <origin rpy="0 0 0 " xyz="0.1 0 0.7"/>
  </joint>       
</robot>
