<launch>
  <!-- Convert xacro model file and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find arm7dof_model)/arm7dof_model.xacro'" />

  <!-- Spawn the robot from parameter server into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model arm7dof" />
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find arm7dof_model)/config/arm7dof_vel_ctl.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/arm7dof" args="joint_state_controller
					  joint0_velocity_controller
                      joint1_velocity_controller
                      joint2_velocity_controller
                      joint3_velocity_controller
                      joint4_velocity_controller
                      joint5_velocity_controller
                      joint6_velocity_controller"/>
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/arm7dof/joint_states" />
  </node>

</launch>
