<launch>

<!-- Convert xacro model file and put on parameter server -->
<param name="robot_description" command="$(find xacro)/xacro.py '$(find rrbot)/model/planar_3rbot.xacro'" />

<!-- Spawn the robot from parameter server into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model planar_3rbot" />

  <!-- ros_control launch file -->
  <include file="$(find rrbot)/launch/planar_3rbot_control.launch">
 </include>

<!-- launch rviz using a specific config file -->
 <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find rrbot)/rviz_config/planar_3rbot.rviz"/-->
 

</launch>
