<?xml version="1.0"?>
<robot  name="one_DOF_robot">

 <!-- Base Link -->
 <link name="link1" />
 <!--distal link -->
 <link name="link2" />
 
  <joint name="joint1" type="continuous">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0 0 1" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>
</robot>

