 <launch>
  <node pkg="baxter_tools" type="enable_robot.py" name="enable" args="-e" output="screen"/>
  <node pkg="object_grabber" type="set_baxter_gripper_param" name="set_baxter_gripper_param"  output="screen"/>   
  <include file="$(find cartesian_planner)/launch/baxter_static_transforms.launch"/>
     
  <node pkg="baxter_trajectory_streamer" type="rt_arm_as" name="rt_arm_as"  output="screen"/>
  <node pkg="baxter_trajectory_streamer" type="left_arm_as" name="left_arm_as"  output="screen"/> 
  <node pkg="cartesian_planner" type="baxter_rt_arm_cart_move_as" name="baxter_rt_arm_cart_move_as" output="screen"/>
  <node pkg="object_grabber" type="object_grabber_action_server" name="object_grabber_action_server"  output="screen"/>   
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find baxter_launch_files)/rviz_config/baxter.rviz"/> 
  <node pkg="baxter_playfile_nodes" type="baxter_playback" name="baxter_playback" args="$(find baxter_playfile_nodes)/pre_pose_right.jsp $(find baxter_playfile_nodes)/pre_pose_left.jsp" output="screen"/> 
  
  <node pkg="baxter_playfile_nodes" type="baxter_playfile_service" name="baxter_playfile_service"  output="screen"/>  
  <node pkg="object_manipulation_properties" type="object_manipulation_query_svc" name="object_manipulation_query_svc"  output="screen"/>    
<node pkg="generic_gripper_services" type="rethink_rt_gripper_service" name="rethink_rt_gripper_service"  output="screen"/>    

 

</launch>
